<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Cálculo de velociada da internet de casa</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-grid.min.css') }}'>
	</head>
	<body>
		<div class="container bg-light">
			<div class="row">	
				<div class="col bg-secondary">
					Download
					<img src='data:image/png;base64, {{ download_image }}'/>
				</div>
				<div class="col bg-secondary">
					Upload
					<img src='data:image/png;base64, {{ upload_image }}'/>
				</div>
			</div>
		</div>
	</body>
</html>
